.header {
  background: #fae68e;
  color: #002147;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__subheading {
  color: #002147;
  margin: 0;
  font-size: 50px;
}

.header__heading {
  margin: 0;
  font-size: 100px;
}

.navbar {
  display: flex;
  padding: 15px;
  color: #002147;
  font-size: 20px;
  margin-top: 220px;
}

.menu {
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p {
  font-size: 20px;
}

ul {
  color: #002147;
}

body {
  background-color: #fffacd;
  font-family: garamond sans-serif;
  color: #002147;
  line-height: 1.5;
}

main {
  display: flex;
  padding: 30px;
}

.card {
  flex-direction: column;
  margin-top: 0;
}

.big-emoji__lemon {
  font-size: 50px;
}

footer {
  font-size: 20px;
  padding: 30px;
}
