@import url("./components/global.css");
@import url("./components/header.css");

a {
  text-decoration: none;
  color: white;
}

.menu {
  font-size: 20px;
  position: sticky;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: lightsalmon;
  border-radius: 30px;
  padding: 10px;
}

.menu li {
  margin-right: 20px;
}

p {
  font-size: 20px;
}

form {
  color: #002147;
  list-style: none;
  text-decoration: none;
}

body {
  padding-top: 80px;
  background-color: #fffacd;
  font-family: garamond sans-serif;
  color: #002147;
  line-height: 1.5;
}

main {
  display: grid;
}

.card {
  grid-template: 2 / 2;
  flex-wrap: wrap;
  margin-top: 0;
  background-color: #fcf2c3;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  margin: 20px;
  position: relative;
}

button {
  border-radius: 30px;
  background-color: lightsalmon;
  border: none;
  padding: 10px;
  margin: 20px 0;
}

button:hover {
  background-color: hotpink;
  color: white;
}

.big-emoji__lemon {
  font-size: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}

footer {
  font-size: 20px;
  padding: 30px;
}

input {
  background-color: white;
  border-radius: 30px;
  border-color: lightsalmon;
  padding: 10px;
}

input:focus {
  border: dotted hotpink 5px;
}
