footer {
  font-size: 20px;
  padding: 30px;
}

input {
  background-color: white;
  border-radius: 30px;
  border-color: lightsalmon;
  padding: 10px;
}

input:focus {
  border: 5px solid hotpink;
}

.contact-links {
  list-style: none;
}

.link {
  color: black;
  text-decoration: none;
}
